
<div class="AidItem">
    <div class="image-container">
        <img alt="product image" src="{{item.imageData}}">
    </div>
    <div class="id">{{item.id}}</div>
    <div class="measurements">{{item.measurements}}</div>
    <div class="material">{{item.material}}</div>
</div>
