<section class="ItemEditor">
<form>
    ID: <input class="id" value="{{item.id}}" /><br />
    Measurements: <input class="measurements" value="{{item.measurements}}" /><br />
    Material: <input class="material" value="{{item.material}}" /><br />
    Image: <img src="{{item.imageData}}" />
<form>
<br />
<button class="save-item">Save</button>
</section>
